<h1>Users</h1>
<table>
  <thred>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thred>
  <tbody>
    <tr>
      <td>user_profile</td>
      <td>user_name</td>
      <td><%= link_to "Show", book_path(@book.id) %></td>
    </tr>
  </tbody>
</table>